doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div.footer
      p #[a(href="/tournaments/new") start a new tournament]
