doctype html
html
  head
    title #{title} &mdash; Lorelei
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    include javascript-header.jade
  body
    div.header
      include navigation.jade
    block content
    div.footer

    include javascript.jade
