doctype html
html
  head
    if title
      title #{title} &mdash; Lorelei
    else
      title Lorelei
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    include javascript-header.jade
  body
    div.header
      include navigation.jade
    div(class="container #{main_div_class}")
      div(class="row")
        div(class="col-xs-12 col-sm-9")
          block content

      hr
      footer
        p &copy; 2016 Ryan W. Moore

    include javascript.jade
