if extra_links
  div(class="col-xs-6 col-sm-3 sidebar-offcanvas")
    div(class="list-group")
      for extra_link in extra_links
        a(href="#{extra_link.url}", class="list-group-item") #{extra_link.text}
