<div id="monitoredTournamentRoot" ng-controller="MonitoredTournamentController">
  <div class="row">
    <div class="col-md-12">
      <p ng-show="json == null">Please wait for the latest tournament information to load.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Last Updated</h2>
      <p>The tournament information was last updated {{json.information.modifiedFromNow}} ({{json.information.modifiedFormatted}}).</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Matchups</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p><a href="/ids">Monitored IDs</a> look <span class="monitored-id-instance">like this</span>.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
      <a class="btn btn-primary" ng-click="showAllRounds = !showAllRounds">{{ showAllRounds ? "Hide" : "Show"}} Non-Current Rounds</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div ng-repeat="round in json.information.rounds" ng-show="$first || showAllRounds">
        <h3>Round {{round.number}}</h3>
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-bordered table-hover matchups">
            <tr><th>Table</th><th>Player</th><th>Player</th></tr>
            <tr ng-repeat="match in round.matches">
              <td>{{match.isBye ? "bye" : match.table}}</td>
              <td ng-class="monitored_ids[match.players[0]] != undefined ? 'monitored-id-instance' : ''" colspan="{{match.isBye ? 2 : 1}}">

                <span ng-if="match.isBye">{{roster_by_id[match.players[0]].name}}</span>
                <span ng-if="!match.isBye">
                  <span class="glyphicon {{(match.outcome == 1 ? ['glyphicon-thumbs-up', 'winner'] : ['glyphicon-thumbs-down', 'loser']).join(' ')}}"></span>
                  <span title="{{match.players[0]}}">{{roster_by_id[match.players[0]].name}}</span>
                </span>

              </td>
              <td ng-class="monitored_ids[match.players[1]] != undefined ? 'monitored-id-instance' : ''" ng-hide="match.isBye">
                <span class="glyphicon {{(match.outcome == 1 ? ['winner', 'glyphicon-thumbs-down', 'loser'] : ['glyphicon-thumbs-up', 'winner']).join(' ')}}"></span>
                <span title="{{match.players[1]}}">{{roster_by_id[match.players[1]].name}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="json == null">
    <div class="col-xs-12">
      <a class="btn btn-primary" ng-click="showAllRounds = !showAllRounds">{{ showAllRounds ? "Hide" : "Show"}} Non-Current Rounds</a>
    </div>
  </div>

  <div class="row" ng-hide="json == null">
    <div class="col-xs-12">
      <h2>Roster<span class="glyphicon glyphicon-user"></span></h2>
    </div>
    <div ng-repeat="player in json.information.roster" class="col-xs-12 col-md-8 col-lg-4">
      <span class="roster-player">{{player.name}} <span class="text-muted">({{player.id}})</span></span>
    </div>
  </div>
  <div class="row"><div class="col-xs-12"><code>{{json}}</code></div></div>
</div>

<script src="/underscore/underscore-min.js"></script>
<script>
  var monitoredTournamentApp = angular.module('MonitoredTournamentApp', ['ngAnimate', 'ui.bootstrap']);

  monitoredTournamentApp.controller('MonitoredTournamentController', ['$scope', '$http', function ($scope, $http) {
    $scope.json = null;
    $scope.updated = null;
    $scope.roster_by_id = null;
    $scope.monitored_ids = null;
    $scope.showAllRounds = false;

    $http.get(tournament_json_url).then(function successCallback(response) {
        $scope.json = response.data;
        $scope.updated = new Date();
        $scope.roster_by_id = _.object(_.map($scope.json.information.roster, function(info) { return [info.id, info] }));

        //Reverse/mutate here, instead of in the ng-repeat in order to avoid errors about "10 $digest() iterations reached"
        $scope.json.information.rounds.reverse();
        $scope.json.information.modifiedFromNow = asMoment($scope.json.information.modified).fromNow();
        $scope.json.information.modifiedFormatted = asMoment($scope.json.information.modified).format("llll");

    }, function errorCallback(response) {
        //TODO?
    });

    $http.get(ids_url).then(function successCallback(response) {
        $scope.monitored_ids = _.object(_.map(response.data, function(id) { return [id, id]}));
    }, function errorCallback(response) {
        //TODO?
    });
  }]);
  angular.bootstrap($("#monitoredTournamentRoot"), ['MonitoredTournamentApp']);
</script>
