extends layout

block content
  h1 Ongoing Tournaments
  if tournaments.length > 0
    p Pick a tournament:
    ul
      each tournament_id in tournaments
        li
          a(href="/tournaments/#{tournament_id}") #{tournament_id}
  else
    p No tournaments are occurring right now.
