extends layout

block content
  h1 Current Tournaments
  if tournaments.length > 0
    p Pick a tournament:
    ul
      each tournament_id in tournaments
        li= tournament_id
  else
    p No tournaments are available.
