span.versus::after {
  content: "vs";
  color: #aaa;
}

table.matchups .winner {
  color: #008800;
}

table.matchups .loser {
  color: #880000;
}

div.monitored-id {
  list-style: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 0.25em;
}

span.monitored-id {
  font-weight: bold;
  color: green;
  cursor: default;
}

form input {
  margin-bottom: 0.25em;
}
