body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.warning {
  color: red;
}

.information {
  color: #888800;
}

span.versus::after {
  content: "vs";
  color: #aaa;
}

table.matchups td, table.matchups th {
  border: 1px solid gray;
}

table.matchups tr.bye {
  text-align: center;
}

table.matchups td.table {
  text-align: center;
}

div.monitored-id {
  list-style: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 0.25em;
}

span.monitored-id {
  font-weight: bold;
  color: green;
  cursor: default;
}

form input {
  margin-bottom: 0.25em;
}
