span.versus::after {
  content: "vs";
  color: #aaa;
}

span.table-or-bye {
}

table.matchups .winner {
  color: #008800;
}

table.matchups .loser {
  color: #880000;
}

table.matchups .monitored-id-instance .winner {
  color: #00ff00;
}

table.matchups .monitored-id-instance .loser {
  color: #ff0000;
}


div.monitored-id {
  list-style: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 0.25em;
}

span.monitored-id {
  font-weight: bold;
  color: green;
  cursor: default;
}

form input {
  margin-bottom: 0.25em;
}

.monitored-id-instance {
  font-weight: bolder;
  color: white;
  background-color: black;
}

.container.fullscreen {
  margin-right: 0;
  margin-left: 0;
  max-width: initial;
  width: initial;
}

span.fullscreen-player1 {
  font-weight: 800;
}

span.fullscreen-player2 {
  font-weight: bold;
}

span.bye {
  color: #aaa;
}

div.fullscreen-entry {
  padding-bottom: 1em;
}

.fullscreen-entry {
  padding-right: 2em;
}
