<div id="monitoredIDsRoot" ng-controller="MonitoredIDsController">
  <div class="row">
    <div class="col-md-12">
      <p>
          You are monitoring
          <strong><ng-pluralize count="ids.length"
              when="{'0': 'no IDs',
                     'one': '{} ID',
                     'other': '{} IDs'}"></ng-pluralize></strong>.
      </p>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="id in ids" class="monitored-id col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <span ng-click="remove(id)" class="glyphicon glyphicon-remove" tooltip="Stop monitoring ID {{id}}"></span> <span class="monitored-id">{{id}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="saveIds()">
          <div ng-show="upToDate && ids.length > 0">
            <p>
              In any tournament, the above IDs will be displayed prominently in your browser. Click the "<span class="glyphicon glyphicon-remove"></span>" next to an ID to stop monitoring it.
            </p>
          </div>
          <div ng-hide="upToDate" class="bg-danger">Please wait for your changes to be saved...</div>
      </form>
  </div>
  </div>
  <div class="row">
    <form ng-submit="addId()" name="addIDForm" novalidate>
      <div class="col-md-12">
        <input name="newID" type="text" size="15" placeholder="Enter ID" value="" ng-model="newID" integer>
      </div>
      <div class="col-md-12">
        <input ng-hide="addIDForm.newID.$error.integer" class="btn btn-primary" type="submit" value="Monitor">
        <span class="bg-danger" ng-show="addIDForm.newID.$error.integer">{{addIDForm.newID.$viewValue}}  is not a valid POP Player ID! POP Player IDs are numbers. For example: 729975</span>
      </div>
    </form>
  </div>
  <br />
  <div class="row" ng-show="ids.length > 0">
    <div class="col-xs-12">
      <input type="button" class="btn btn-warning" ng-click="reset()" value="Remove Monitored IDs" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Add/remove POP Player IDs that you are interested in. When viewing tournaments, the IDs will be highlighted and displayed prominently.
        This feature is useful to quickly view the your matches, those of a friend, or your child.</p>
    </div>
  </div>
</div>
<script src="/underscore/underscore-min.js"></script>
<script>
  var monitoredIDsApp = angular.module('MonitoredIDsApp', ['ui.bootstrap']);

  var INTEGER_REGEXP = /^\-?\d+$/;
  monitoredIDsApp.directive('integer', function() {
    //Snippet from https://docs.angularjs.org/guide/forms
    return {
      require: 'ngModel',
      link: function(scope, elm, attrs, ctrl) {
        ctrl.$validators.integer = function(modelValue, viewValue) {
          if (ctrl.$isEmpty(modelValue)) {
            // consider empty models to be valid
            return true;
          }

          if (INTEGER_REGEXP.test(viewValue)) {
            // it is valid
            return true;
          }

          // it is invalid
          return false;
        };
      }
    };
  });


  monitoredIDsApp.controller('MonitoredIDsController', ['$scope', '$http', function ($scope, $http) {
    $scope.ids = [];
    $scope.upToDate = false;

    $http.get(ids_url).then(function successCallback(response) {
        $scope.ids = response.data;
        $scope.upToDate = true;
    }, function errorCallback(response) {
        //TODO?
    });

    $scope.remove = function (id) {
        $scope.ids = _.without($scope.ids, id);
        $scope.upToDate = false;
        $scope.saveIds();
    }

    $scope.reset = function () {
        $scope.ids = [];
        $scope.upToDate = false;
        $scope.saveIds();
    };

    $scope.addId = function () {
        var valid_id_regexp = /^[0-9]+$/;
        if (!$scope.newID.match(valid_id_regexp)) {
            return;
        }
        $scope.ids.push(parseInt($scope.newID));
        $scope.ids = _.sortBy($scope.ids, function (id) { return id; });
        $scope.ids = _.uniq($scope.ids, true);
        $scope.newID = "";
        $scope.upToDate = false;
        $scope.saveIds();
    };

    $scope.saveIds = function () {
        $http.post(ids_url, { ids: $scope.ids }).then(function successCallback(response) {
            $scope.upToDate = true;
        }, function errorCallback(response) {
            //TODO
        });
    }
  }]);
  angular.bootstrap($("#monitoredIDsRoot"), ['MonitoredIDsApp']);
</script>
